@import url("https://fonts.googleapis.com/css?family=Lato|Raleway");

* {
  box-sizing: border-box;
}
body {
  background-color: #ffcc00;
  text-shadow: -0.3vh 0 black, 0 0.3vh black, 0.3vh 0 black, 0 -0.3vh black;
  font-family: Lato;
  width: 100vw;
}
.Stockholm {
  width: 32.5%;
  border-radius: 1.5vh;
  margin-right: 0.8vw;
  box-shadow: 0 0 0 0.2vh black;
}
.Are {
  width: 32.5%;
  border-radius: 1.5vh;
  box-shadow: 0 0 0 0.2vh black;
}
.Falun {
  width: 32.5%;
  border-radius: 1.5vh;
  margin-left: 0.8vw;
  box-shadow: 0 0 0 0.2vh black;
}
.img-inspiration {
  display: flex;
  justify-content: center;
  padding: 1.5vh;
  width: 75vw;
  height: 32vh;
  margin: auto;
  margin-top: 3vh;
  border-radius: 1.5vh;
  box-shadow: 0 0 0 0.3vh black;
  background-color: #006699;
}
.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 0 0 0.3vh black;
  flex-direction: row;
  background-color: #006699;
  color: #ffcc00;
  font-weight: bold;
  font-size: 3vh;
  padding: 0;
}
.nav-item {
  padding: 2vh;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.dropdown-content {
  list-style: none;
  padding: 1vh;
  cursor: pointer;
  display: none;
  position: absolute;
  background-color: #006699;
  box-shadow: 0 0 0 0.3vh #000000;
  border-radius: 1.5vh;
  width: 100%;
  opacity: 0.9;
  margin-top: 0.5vh;
}
.dropdown-content li {
  padding-left: 1vw;
}
.dropdown-content li:hover {
  background-color: #ffcc00;
}
.nav-item:hover .dropdown-content {
  display: block;
  animation: fade 0.8s;
}
.nav-item:hover {
  transform: scale(1.1);
}
.header-container {
  display: flex;
  justify-content: center;
  color: #006699;
  font-weight: bold;
  font-family: Raleway;
  margin: 0;
  font-size: 10vh;
}
.title-container {
  display: flex;
  justify-content: space-between;
}
.title-logoitem {
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}
.bamse-head {
  height: 30vh;
  transition: all 1.5s;
}
.bamse-container {
  position: fixed;
  bottom: -24vh;
  height: 30vh;
  width: 30vh;
  left: 86.5%;
}
.bamse-container:hover .bamse-head {
  transform: translateY(-22.5vh);
}
.bamse-container:hover .bamse-right {
  animation: walk-right infinite 20s linear;
}
.bamse-container:hover .bamse-left {
  animation: walk-left infinite 20s linear;
}
.bamse-right {
  position: fixed;
  bottom: 0;
  left: -10%;
  height: 25vh;
}
.bamse-left {
  position: fixed;
  bottom: 0;
  left: 350%;
  transform: rotateY(180deg);
  height: 25vh;
}

.logo {
  animation: spin infinite 15s linear;
  margin-right: 0.2vw;
  max-width: 7vh;
  max-height: 7vh;
  border-radius: 100%;
  box-shadow: 0 0 0 0.3vh black;
}
.desktop-logo {
  margin-right: 0.2vw;
  max-width: 12vh;
  max-height: 12vh;
  border-radius: 1.5vh;
  box-shadow: 0 0 0 0.3vh black;
  margin-left: 2vw;
}
.os-rings {
  height: 12vh;
  margin-right: 2vw;
}
.os-rings:hover {
  animation: spin 1s infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fade {
  from {
    font-size: 0;
    height: 0%;
    width: 0vw;
  }
  to {
    font-size: 100%;
    height: 170%;
    width: 100%;
  }
}
@keyframes walk-right {
  0% {
    left: -30%;
  }
  100% {
    left: 230%;
  }
}
@keyframes walk-left {
  0% {
    left: 250%;
  }
  100% {
    left: -10%;
  }
}
