@import url("https://fonts.googleapis.com/css?family=Lato|Raleway");

* {
  box-sizing: border-box;
}
body {
  background-color: #ffcc00;
  text-shadow: -0.3vh 0 black, 0 0.3vh black, 0.3vh 0 black, 0 -0.3vh black;
  font-family: Lato;
  width: 100%;
}
.nav-item {
  padding: 2vh;
  cursor: pointer;
}
.Stockholm {
  width: 32.5%;
  border-radius: 1.5vh;
  margin-right: 0.8vw;
  box-shadow: 0 0 0 0.2vh black;
}
.Are {
  width: 32.5%;
  border-radius: 1.5vh;
  box-shadow: 0 0 0 0.2vh black;
}
.Falun {
  width: 32.5%;
  border-radius: 1.5vh;
  margin-left: 0.8vw;
  box-shadow: 0 0 0 0.2vh black;
}
.img-inspiration {
  display: flex;
  justify-content: center;
  border: 1.5vh solid #006699;
  width: 75vw;
  height: 32vh;
  margin: auto;
  margin-top: 3vh;
  border-radius: 1.5vh;
  box-shadow: 0 0 0 0.3vh black;
  background-color: #006699;
}
.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 0 0 0.3vh black;
  flex-direction: row;
  background-color: #006699;
  color: #ffcc00;
  font-weight: bold;
  font-size: 3vh;
  padding: 0;
}
.header-container {
  padding-top: 2vh;
  display: flex;
  justify-content: center;
  color: #006699;
  font-weight: bold;
  font-family: Raleway;
  margin: 0;
  font-size: 11vh;
}
.title-container {
  display: flex;
  justify-content: space-between;
}
.title-logoitem {
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}
.logo {
  animation: App-logo-spin infinite 15s linear;
  margin-right: 0.2vw;
  max-width: 8vh;
  max-height: 8vh;
  border-radius: 100%;
  box-shadow: 0 0 0 0.3vh black;
}
.desktop-logo {
  margin-right: 0.2vw;
  max-width: 15vh;
  max-height: 15vh;
  border-radius: 1.5vh;
  box-shadow: 0 0 0 0.3vh black;
  margin-left: 2vw;
}
.invis-margin {
  margin-right: 7vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
