@media (max-width: 1023px) {
  .search-trip-container {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    margin: auto;
    padding-top: 4vw;
  }
  .from-to-container {
    position: absolute;
    top: 48.5vh;
    flex-direction: column;
    justify-content: center;
  }
  .desktop-logo {
    width: 0;
    height: 0;
    box-shadow: none;
  }
  .header-container {
    font-size: 4vh;
    margin-top: 0;
    padding-top: 0;
  }
  .title-logoitem {
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .logo {
    margin-right: 0.5vw;
    max-width: 3vh;
    max-height: 3vh;
  }
  .input {
    margin-bottom: 2vh;
    width: 64vw;
    margin-left: 5vw;
    margin-right: 5vw;
    opacity: 0.8;
    font-weight: bold;
  }
  .search {
    width: 64vw;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 3vh;
    opacity: 0.8;
    font-weight: bold;
  }
  .Stockholm {
    width: 100vw;
    height: 27vh;
    border-radius: 0;
    margin-right: 0;
    box-shadow: none;
    margin-top: 0;
  }
  .Are {
    width: 100vw;
    height: 27vh;
    border-radius: 0;
    box-shadow: none;
  }
  .Falun {
    position: fixed;
    bottom: 0%;
    width: 100vw;
    height: 28vh;
    border-radius: 0;
    box-shadow: none;
    margin-left: 0;
  }
  .img-inspiration {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 0;
    height: 100%;
    opacity: 0.7;
    width: 100%;
    padding: 0;
    box-shadow: none;
  }
  .nav-list {
    justify-content: center;
    margin-bottom: 0;
    box-shadow: none;
    border-top: 0.3vh solid black;
    border-bottom: 0.3vh solid black;
  }
  .nav-item {
    text-align: center;
    width: 33.3vw;
    font-size: 2.4vh;
    padding: 0.8vh;
  }
  .result-container {
    width: 96vw;
    display: flex;
    flex-direction: column;
    margin-top: 1.5vh;
    height: 100%;
    margin-left: 2vw;
  }
  .result-table-container {
    display: flex;
    width: 96vw;
    max-height: 100vh;
    margin-right: 2vw;
  }
  .result-table {
    height: 45vh;
    flex-grow: 0;
    width: 94vw;
    margin-bottom: 2vh;
    font-size: 2vh;
  }

  .map {
    height: 40vh;
    width: 94vw;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-bottom: 1.5vh;
  }
  .os-rings {
    width: 0;
    height: 0;
  }
}

@media (max-width: 769px) {
  .mobile-sidebar-open {
    display: none;
  }
}

@media (max-width: 1340px) {
  .os-rings {
    height: 0;
    width: 0;
    margin-right: 0;
  }
  .bamse-right {
    display: none;
  }
  .bamse-left {
    display: none;
  }
  .bamse-head {
    display: none;
  }
}
