@media (max-width: 480px) {
  .search-trip-container {
    position: absolute;
    top: 50vh;
    border: none;
    background-color: transparent;
    box-shadow: none;
    margin-top: 0;
    margin-left: 0;
  }
  .from-to-container {
    flex-direction: column;
    justify-content: center;
  }
  .title-container h1 {
    font-size: 5vh;
    padding-top: 0vh;
  }
  .invis-margin {
    margin-right: 10vw;
  }
  .Logo {
    margin-left: 3vw;
    max-width: 10vw;
    max-height: 10vw;
    margin-bottom: 1vh;
  }
  .input {
    margin-bottom: 3vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    opacity: 0.6;
    font-weight: bold;
  }
  .search {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 3vh;
    opacity: 0.8;
    font-weight: bold;
  }
  .Stockholm {
    width: 100vw;
    height: stretch;
    border-radius: 0;
    margin-right: 0;
    box-shadow: none;
    margin-top: 0;
  }
  .Are {
    width: 100vw;
    height: stretch;
    border-radius: 0;
    box-shadow: none;
  }
  .Falun {
    width: 100vw;
    height: stretch;
    border-radius: 0;
    box-shadow: none;
    margin-left: 0;
  }
  .img-inspiration {
    position: fixed;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 0;
    height: 75.7vh;
    opacity: 0.7;
    width: 100%;
    border: none;
    box-shadow: none;
  }
  .nav-list {
    justify-content: center;
  }
  .nav-item {
    text-align: center;
    width: 33.3vw;
    font-size: 3.1vh;
  }
}
