* {
  box-sizing: border-box;
}
.search-trip-container {
  border: 1.5vh solid #006699;
  border-radius: 1.5vh;
  display: flex;
  flex-direction: column;
  background-color: #006699;
  color: #ffcc00;
  font-weight: bold;
  max-width: 75vw;
  margin: auto;
  box-shadow: 0 0 0 0.3vh black;
  margin-top: 3vh;
}
.from-to-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.input {
  border-radius: 1vh;
  height: 6vh;
  width: stretch;
  margin-left: 0.4vw;
  margin-right: 0.4vw;
  font-size: 3vh;
}
.search {
  height: 6vh;
  width: 25vw;
  margin-left: 0.4vw;
  margin-right: 0.4vw;
  border-radius: 1vh;
  font-size: 3vh;
}
