* {
  box-sizing: border-box;
}
.search-trip-container {
  border: 10px solid #006699;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #006699;
  color: #ffcc00;
  font-weight: bold;
  max-width: 1000px;
  margin: auto;
  box-shadow: 0 0 0 1.5px black;
  margin-top: 20px;
}
.from-to-container {
  display: flex;
  justify-content: space-between;
}
.input {
  border-radius: 3px;
  height: 35px;
  width: stretch;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
}
.search {
  height: 35px;
  width: 300px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 16px;
}
