* {
  box-sizing: border-box;
}
.result-table {
  max-width: 100%;
  background-color: #006699;
  color: #ffcc00;
  font-size: 2.7vh;
  font-weight: bold;
  border: 3vh solid #006699;
  border-radius: 1.5vh;
  text-align: center;
  margin-right: 0.8vw;
  margin-left: 0.8vw;
  box-shadow: 0 0 0 0.3vh black;
  margin-bottom: 1.5vh;
  flex-grow: 1;
  max-height: 29.85vh;
}
.result-container {
  display: flex;
  flex-direction: row;
  margin-top: 1.5vh;
  min-height: 62.7vh;
  max-height: 62.7vh;
}
.map-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.map {
  width: 100%;
  border-radius: 1.5vh;
  box-shadow: 0 0 0 0.3vh black;
  overflow: hidden;
  margin-right: 0.8vw;
  margin-bottom: 1.5vh;
  background-color: white;
  text-shadow: -0vh 0 black, 0 0vh black, 0vh 0 black, 0 -0vh black;
}
