* {
  box-sizing: border-box;
}
.result-table {
  background-color: #006699;
  color: #ffcc00;
  font-size: 2.7vh;
  font-weight: bold;
  border: 3vh solid #006699;
  border-radius: 1.5vh;
  text-align: center;
  margin-right: 0.8vw;
  margin-left: 0.8vw;
  box-shadow: 0 0 0 0.3vh black;
  flex-grow: 1;
  overflow: hidden;
  max-height: 55vh;
  text-shadow: none;
  width: 50vw;
}
.result-subtable {
  background-color: #ffcc00;
  color: #006699;
  max-width: 50vw;
  box-shadow: 0 0 0 0.3vh black;
}
.result-container {
  display: flex;
  flex-direction: row;
  margin-top: 1.5vh;
  height: 56.5vh;
}
.map {
  width: 50vw;
  border-radius: 1.5vh;
  box-shadow: 0 0 0 0.3vh black;
  overflow: hidden;
  margin-right: 0.8vw;
  margin-bottom: 1.5vh;
  background-color: white;
  text-shadow: -0vh 0 black, 0 0vh black, 0vh 0 black, 0 -0vh black;
}
.ReactTable .rt-tr .action {
  transition: all 0.2s ease;
  text-align: center;
  transform: scale(0);
}

.ReactTable .rt-tr:hover .action {
  transform: scale(1.3);
}

.ReactTable .rt-tr:hover .rt-td {
  background-color: #ffcc00;
  color: #006699;
}
.ReactTable .rt-resizable-header {
  padding: 6px 24px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.ReactTable .rt-resizer:before {
  display: inline-block;
  position: absolute;
  right: 25px;
  top: 3px;
  height: 18px;
  width: 18px;
  color: transparent;
  content: ".";
  background-size: 18px 18px;
  background-repeat: no-repeat;
  opacity: 0.87;
}

.ReactTable .rt-resizable-header-content:after {
  position: absolute;
  right: 8px;
  top: 3px;
  height: 18px;
  width: 18px;
  z-index: 120;
  color: transparent;
  content: ".";
}

.ReactTable .rt-th.-sort-asc .rt-resizer:before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAgMTVWNmw0IDQgMS0xLTYtNi02IDYgMSAxIDQtNHY5eiIgZmlsbD0iIzMzMyIvPjwvc3ZnPg==);
}

.ReactTable .rt-th.-sort-desc .rt-resizer:before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOCAzdjkuMTNMNCA4IDMgOWw2IDYgNi02LTEtMS00IDQuMTNWM3oiIGZpbGw9IiMzMzMiLz48L3N2Zz4=);
}
.result-dropdown {
  list-style: none;
  padding: 1vh;
  cursor: pointer;
  display: none;
  position: absolute;
  border-radius: 1.5vh;
  opacity: 0.9;
  margin-top: 0.5vh;
}
.rt-tr:hover .rt-td .result-dropdown {
  display: block;
}
.ReactTable .rt-th,
.ReactTable .rt-td {
  overflow: visible;
}
